$section-spacing: 5em;
$md-breakpoint: 768px;
$bg-color: lavender;
$primary-bg-color: lavender;
$primary-text-color: black;
$primary-link-color: darkslateblue;
$primary-link-hover-color: midnightblue;
$secondary-bg-color: darkslateblue;
$secondary-text-color: lavender;
$secondary-link-color: powderblue;
$error-color: maroon;