@use "variables";

body {
  background-color: variables.$primary-bg-color;
  color: variables.$primary-text-color;
  font-family: "Capriola";
}

a {
  color: variables.$primary-link-color;
}

header, footer, button {
  background-color: variables.$secondary-bg-color;
}

.navbar-brand, .navbar-brand:hover, footer, button {
  color: variables.$secondary-text-color;
}

header {
  margin-bottom: variables.$section-spacing;
}

footer {
  margin-top: variables.$section-spacing;
}

footer > p > a {
  color: variables.$secondary-link-color;
}

hr {
  border: none;
  background-color: variables.$secondary-bg-color;
  height: 2px;
}

.separator {
  margin: 2em 0em 2em 0em;
}

@media (min-width: variables.$md-breakpoint) {
  button:hover {
    background-color: variables.$primary-link-hover-color;
  }

  a:hover {
    color: variables.$primary-link-hover-color;
  }
}

@media (max-width: variables.$md-breakpoint) {
  button:active {
    background-color: variables.$primary-link-hover-color;
  }

  a:active {
    color: variables.$primary-link-hover-color;
  }
}

p {
  margin: 0px;
  line-height: 1.5em;
}

.error-message, .invalid-feedback {
  color: variables.$error-color;
}


