$section-spacing: 5em;
$md-breakpoint: 768px;
$bg-color: lavender;
$text-color: black;
$primary-color: darkslateblue;
$primary-text-color: lavender;
$hover-color: midnightblue;

body {
  background-color: $bg-color;
  color: black;
  font-family: "Capriola";
}

a {
  color: $primary-color;
}

header, footer, button {
  background-color: $primary-color;
}

.navbar-brand, .navbar-brand:hover, footer, button {
  color: $primary-text-color;
}

header {
  margin-bottom: $section-spacing;
}

footer {
  margin-top: $section-spacing;
}

footer > p > a {
  color: powderblue;
}

hr {
  border: none;
  background-color: $primary-color;
  height: 2px;
}

.separator {
  margin: 2em 0em 2em 0em;
}

@media (min-width: $md-breakpoint) {
  button:hover {
    background-color: $hover-color;
  }

  a:hover {
    color: $hover-color;
  }
}

@media (max-width: $md-breakpoint) {
  button:active {
    background-color: $hover-color;
  }

  a:active {
    color: $hover-color;
  }
}

p {
  margin: 0px;
  line-height: 1.5em;
}

.error-message, .invalid-feedback {
  color: maroon;
}


